.mabuhay{
  margin-left: 10rem;
}
.nav-brgy{
  margin-right: 15rem;
}

.link-btn{
  margin-left: 10rem; 
}
.logo{
  margin-left: 6%;
  margin-top: 2%;
}

/* hovers */
.zoom:hover {
  transform: scale(1.5);
  

}

.sign{
  background-color: black;
  color: white;
}
.sign:hover{
  background-color: rgb(7, 243, 125);
  color: black;
}

.contact{
  color: black
}
.contact:hover{
  color:white;
}

.link-btn{
  background-color: black;
  color: white;
}
.link-btn:hover{
  background-color: rgb(7, 243, 125);
  color: black;
}

.link:hover{
color: rgb(255, 255, 255);
}

.learn{
   background-color: green;
    color: white;
}
.learn:hover{
  background-color: rgb(7, 243, 125);
  color: black;
}

.feature:hover{
border-color: darkslategrey;
  border-width: 1px;
}



/* body */
.city{
padding-bottom: 3rem;
}

.welcome{
  padding: 2rem;
}


.conlog{
  padding-bottom: 3rem;
}

.first{
  width: 10rem;
  height: 15rem;
  background-color: #052;
  position: relative;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.box{
  padding-bottom: 3rem;
}

